{% extends 'base.html' %}
{% block head_title %}{{ block.super }} | Visualizzazione contatti{% endblock head_title %}

{% block content %}
<div class="container">
    <h1>Visualizzazione Contatti:</h1>
    <table class="table table-bordered" border="1">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Email</th>
                {% if request.user.is_authenticated %}
                <th scope="col">Modifica</th>
                <th scope="col">Elimina</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for contatto in contatti %}
                <tr>
                    <td>{{ contatto.nome }}</td>
                    <td>{{ contatto.cognome }}</td>
                    <td>{{ contatto.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}